{% load static %}

<section id="crew" class="d-md-flex flex-md-equal w-100 bg-light mt-5">
  <div class="container-lg">
    <div class="text-center">
      <h1>Nasza załoga</h1>
      <p class="lead text-muted">Czym się zajmujemy?</p>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="bg-light me-md-3 pt-1 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-6">Karolina Niedźwiedź</h2>
          <p class="fs-4 text-muted">Manicure</p>
        </div>
        <div>
          <img src="{% static 'karolina.jpg' %}" width="300" height="300" alt="It do be like that sometimes"></div>
      </div>
      <div class="bg-light me-md-3 pt-1 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-6">Klaudia Kamińska</h2>
          <p class="fs-4 text-muted">Makijaż</p>
        </div>
        <div>
        <img src="{% static 'klaudia.jpg' %}" width="300" height="300" alt="It do be like that sometimes">
        </div>
      </div>
      <div class="bg-light me-md-3 pt-1 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-6">Paulina Ostrowska</h2>
          <p class="fs-4 text-muted">Rzęsy</p>
        </div>
        <div>
          <img src="{% static 'paulina.jpg' %}" width="300" height="300" alt="It do be like that sometimes">
        </div>
      </div>
      
    </div>
  </div>
</section>