<section id="crew" class="bg-light mt-5">
  <div class="container-lg">
    <div class="text-center">
      <h2>Nasza załoga</h2>
      <p class="lead text-muted">Jeszcze nie wiem co</p>
    </div>

    <div class="row my-5 align-items-center justify-content-center g-0">
      <div class="col-8 col-lg-4 col-xl-3">
        <div class="card border-0">
          <div class="card-body text-center py-4">
            <h4 class="card-title">Karolina Niedźwiedź</h4>
            <p class="lead card-subtitle">Manicure</p>
            <p class="display-5 my-4 text-primary fw-bold">Zdjęcie laski</p>
            <p class="card-text mx-5 text-muted d-none d-lg-block">Paznokciowy Picasso</p>
          </div>
        </div>
      </div>
      
      <div class="col-8 col-lg-4 col-xl-3">
        <div class="card border-0">
          <div class="card-body text-center py-5">
            <h4 class="card-title">Klaudia Kamińska</h4>
            <p class="lead card-subtitle">Makijaż</p>
            <p class="display-5 my-4 text-primary fw-bold">Zdjęcie laski</p>
            <p class="card-text mx-5 text-muted d-none d-lg-block">Urodzona z pędzlem w dłoni.</p>
          </div>
        </div>
      </div>

      <div class="col-8 col-lg-4 col-xl-3">
        <div class="card border-0">
          <div class="card-body text-center py-4">
            <h4 class="card-title">Paulina Ostrowska</h4>
            <p class="lead card-subtitle">Przedłużanie rzęs</p>
            <p class="display-5 my-4 text-primary fw-bold">Zdjęcie laski</p>
            <p class="card-text mx-5 text-muted d-none d-lg-block">Czarodziejka zalotnego mrugania</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>