<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a href="#intro" class="navbar-brand ms-2">
            <span class="fw-bold text-white">
                Clauty
            </span>
        </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav col-12 col-sm-8 col-lg-auto me-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item"><a href="#intro" class="nav-link px-2 text-white">O nas</a></li>
            <li class="nav-item"><a href="#services" class="nav-link px-2 text-white">Usługi</a></li>
            <li class="nav-item"><a href="#crew" class="nav-link px-2 text-white">Załoga</a></li>
            <li class="nav-item"><a href="#opinions" class="nav-link px-2 text-white">Opinie</a></li>
            <li class="nav-item"><a href="#contact" class="nav-link px-2 text-white">Kontakt</a></li>
        </ul>
            <div class="text-end"> 
             <button type="button" a class="btn btn-outline-light me-2">Logowanie</button>
             <button type="button" class="btn btn-warning me-2">Rejestracja</button> 
            </div>
        </div>  

</nav>