<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a href="{% url 'intro-view' %}" class="navbar-brand ms-2">
    <span class="fw-bold text-white">Clauty</span>
  </a>

  <button class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#main-nav" 
          aria-controls="main-nav" 
          aria-expanded="false" 
          aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- navbar links -->
  <div class="collapse navbar-collapse" id="main-nav">
    {% if user.is_authenticated %}
      <ul class="nav col-12 col-sm-8 col-lg-auto me-auto mb-2 justify-content-center mb-md-0">
        {% if user.employee %}
          <li class="nav-item"><a href="{% url 'workschedule-list' %}" class="nav-link px-2 text-white">Grafiki</a></li>
          <li class="nav-item"><a href="{% url 'appointment-list' %}" class="nav-link px-2 text-white">Wizyty</a></li>
        {% else %}
          <li class="nav-item"><a href="{% url 'appointment-add' %}" class="nav-link px-2 text-white">Umów wizytę</a></li>
          <li class="nav-item"><a href="{% url 'appointment-list' %}" class="nav-link px-2 text-white">Wizyty</a></li>
          <li class="nav-item"><a href="{% url 'opinion-add' %}" class="nav-link px-2 text-white">Dodaj opinię</a></li>
        {% endif %}
      </ul>
      <div class="text-end"> 
          <a href="{% url 'logout' %}" class="btn btn-warning me-2">Wyloguj</a> 
      </div>
    {% else %}
      <ul class="nav col-12 col-sm-8 col-lg-auto me-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item"><a href="#intro" class="nav-link px-2 text-white">O nas</a></li>
        <li class="nav-item"><a href="#crew" class="nav-link px-2 text-white">Załoga</a></li>
        <li class="nav-item"><a href="#opinions" class="nav-link px-2 text-white">Opinie</a></li>
      </ul>
      <div class="text-end"> 
        <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Logowanie</a>
        <a href="{% url 'register' %}" class="btn btn-warning me-2">Rejestracja</a> 
      </div>
    {% endif %}
  </div>  
</nav>