<section id="opinions" class="bg-altlight">
  <div class="container-lg">
    <div class="text-center">
      <h2><i class="bi bi-stars text-altdark"></i>Opinie</h2>
      <p class="lead">Co mówią o nas nasi klienci...</p>
    </div>
    <div class="row justify-content-center my-5">
      <div class="col-lg-8">
        <div class="list-group">
          <div class="list-group-item py-3">
            <div class="pb-2">
              <i class="bi bi-star-fill text-altdark"></i>
              <i class="bi bi-star-fill text-altdark"></i>
              <i class="bi bi-star-fill text-altdark"></i>
              <i class="bi bi-star-fill text-altdark"></i>
              <i class="bi bi-star-fill text-altdark"></i>
            </div>
            <h5 class="mb-1">Pani Karolina</h5>
            <p class="mb-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sunt cupiditate ad
              et. Consequuntur explicabo quibusdam quis illo ipsam quasi earum, impedit unde. Consequuntur
              aliquam earum totam. Error, illum sed?
            </p>
            <small>Klientka</small>
          </div>
          <div class="list-group-item py-3">
            <div class="pb-2">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <h5 class="mb-1">Pani Klaudia</h5>
            <p class="mb-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sunt cupiditate ad
              et. Consequuntur explicabo quibusdam quis illo ipsam quasi earum, impedit unde. Consequuntur
              aliquam earum totam. Error, illum sed?
            </p>
            <small>Klientka</small>
          </div>
          <div class="list-group-item py-3">
            <div class="pb-2">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-half"></i>
            </div>
            <h5 class="mb-1">Pani Paulina</h5>
            <p class="mb-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sunt cupiditate ad
              et. Consequuntur explicabo quibusdam quis illo ipsam quasi earum, impedit unde. Consequuntur
              aliquam earum totam. Error, illum sed?
            </p>
            <small>Klient</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>