<section id="opinions" class="d-md-flex flex-md-equal w-100 bg-altlight mt-5">
  <div class="container-lg">
    <div class="text-center">
      <h1 class="pt-4">Opinie</h1>
      <p class="lead">Co mówią o nas nasi klienci...</p>
    </div>
    <div class="row justify-content-center my-5 pb-3">
      <div class="col-lg-8">
        <div class="list-group">
          <div class="list-group-item py-3">
            <h5 class="mb-1">Pan Marcin</h5>
            <p class="mb-1">
              Zachęcony przez żonę postanowiłem oddać swoje dłonie pod opiekę pani Karoliny... 
              Tak zadbanych paznokci nie miałem od pasowania pierwszoklasisty. Zdecydowanie polecam każdemu Panu i każdej Pani wizytę u pani Karoliny.

            </p>
            <small>Opinia dla: Karoliny Niedźwiedź</small>
          </div>
          <div class="list-group-item py-3">
            <h5 class="mb-1">Pani Małgosia</h5>
            <p class="mb-1">
              Na makijażu u Klaudii bylam już kolejny raz i zawsze wychodziłam zadowolona i pewna siebie. 
              Nie odczuwałam efektu maski, a makijaż zawsze był trwały i naturalny. Klaudia za pomocą pędzla 
              podkreśla wszystkie walory urody i ukrywa jej niedoskonałości. Wiem, że spotkamy się jeszcze wiele razy.
            </p>
            <small>Opinia dla: Klaudii Kamińskiej</small>
          </div>
          <div class="list-group-item py-3">
            <h5 class="mb-1">Pani Kornelia</h5>
            <p class="mb-1">
              Pani Paulina idealnie dobrała długość i gęstość przyklejanych rzęs. Są bardzo wygodne, w ogóle niewyczuwalne na oku. 
              Sama wizyta przebiegała w bardzo przyjemnej atmosferze - spokojna muzyka i ciepły kocyk pozwoliły na dłuższą chwilę odprężenia.
            </p>
            <small>Opinia dla: Pauliny Ostrowskiej</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>