{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Lista wizyt{% endblock %}

{% block content %}
  <main id="appointments">
    <div class="container-lg">
      <div class="text-center pt-3">
        <h1>Nadchodzące wizyty</h1>
      </div>
      {% if object_list %}
        <table class="table table-striped table-hover mt-4 text-center">
          <thead class="table-dark">
            <tr>
              <th scope="col">Pracownik</th>
              <th scope="col">Rodzaj wizyty</th>
              <th scope="col">Data</th>
              <th scope="col">Godzina</th>
              <th scope="col">Uwagi</th>
            </tr>
          </thead>      
          <tbody>
            {% for appointment in object_list %}
              <tr>
                <td>{{ appointment.employee }}</td>
                <td>{{ appointment.employee.service }}</td>
                <td>{{ appointment.date|date }}</td>
                <td>{{ appointment.date|date:"H:i" }}</td>
                <td><a href="{{ appointment.get_delete_url }}" class="btn btn-danger me-2">Anuluj wizytę</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h3 class="text-center mt-5 text-danger">Brak umówionych wizyt :(</h3>
      {% endif %}
    </div>
  </main>
{% endblock %}