{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Dodaj nową wizytę{% endblock %}

{% block content %}
  <main class="form-login position-absolute top-50 start-50 translate-middle">
    <form novalidate method="post">{% csrf_token %}
      {{ form.client|addclass:'d-none' }}
      {{ form.non_field_errors }}
      <h1 class="h3 mb-3 fw-normal text-center">Umów wizytę</h1>

      <div class="form-floating row mb-3">
        {{ form.employee|addclass:'form-control' }}
        {{ form.employee.label_tag }}
        {{ form.employee.errors }}
      </div>

      <div class="form-floating row mb-3">
        {{ form.date|addclass:'form-control' }}
        {{ form.date.label_tag }}
        {{ form.date.errors }}
      </div>

      <button type="submit" class="w-100 btn btn-lg btn-primary">Zarezerwuj</button>
    </form>
  </main>
{% endblock %}