{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}Dodaj nową wizytę{% endblock %}

{% block content %}
  <main class="form-login position-absolute top-50 start-50 translate-middle">
    <form novalidate method="post">{% csrf_token %}
      {{ form.non_field_errors }}
      <h1 class="h3 mb-3 fw-normal text-center">Umów wizytę</h1>
      {% for field in form.visible_fields %}
        <div class="form-floating col-sm-12 row mb-3">
          {{ field|addclass:'form-control' }}
          {{ field.label_tag }}
          {{ field.errors }}
        </div>
      {% endfor %}
      <button type="submit" class="w-100 btn btn-lg btn-primary">Submit</button>
    </form>
  </main>
{% endblock %}